---
swagger: "2.0"
info:
  description: |-
    This API serves as a backend for the **Open Assistive Technology** site,
    which collate all open source hardware and software projects around the
    web that aim to help someone with disabilities (i.e. Assistive Technology).
  version: "1.0.0"
  title: "Open Assistive Technology Backend"
  contact:
    email: "info@openassistive.org"
  license:
    name: "MIT"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  x-logo:
    url: ""
host: "api.openassistive.org"
#host: "localhost:5000"
basePath: "/v1/"
schemes:
 - http
 - https
tags:
- name: "Project IO"
  description: "OpenAssistive Editing Toolkit"
paths:
  /service/{service}/project:
    get:
      tags:
      - "Project IO"
      summary: "Retrieves meta-data information for a project"
      description:  |-
        Scrapes for a project page to get important meta-data information.
        
        `id` or `url` is required and `url` has precedence.
      operationId: "scrapeProject"
      produces:
      - "application/json"
      parameters:
      - name: "service"
        in: "path"
        description: "The service name"
        required: true
        type: "string"
        enum:
        - "github"
        - "instructables"
        - "pinshape"
        - "sourceforge"
        - "thingiverse"
        - "dropbox"
        - "httpfile"
      - name: "id"
        in: "query"
        description: |-
          The identifier of the project page in the selected service.
          * github: username/projectname
          * instructables: identifier
          * pinshape: identifier
          * sourceforge: projectname
          * thingiverse: thing:id `OR` id
          * dropbox: path
          * httpfile: None
        type: "string"
      - name: "url"
        in: "query"
        description: |-
          Complete url of project url, `httpfile` requires url to operate.
        type: "string"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/Project"
        400:
          description: "Project not found"
        422:
          description: "Invalid input or could not process, reason provided"
  /project/save:  
    post:
      tags:
      - "Project IO"
      summary: "Save project meta-data for the front-end"
      description: "Save project meta-data for the front-end"
      operationId: "saveProject"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "body"
        in: "body"
        description: "Project meta-data object to be saved"
        required: true
        schema:
          $ref: "#/definitions/Project"
      responses:
        200:
          description: "Successful operation"
        400:
          description: "Invalid project path"
        422:
          description: "Invalid input or could not process, reason provided"

definitions:
  Project:
    type: "object"
    required:
    - "title"
    - "authors"
    - "short_title"
    - "datemod"
    - "project_url"
    - "original_url"
    - "description"
    - "main_description"
    - "tags"
    - "categories"
    properties:
      short_title:
        type: "string"
      title:
        type: "string"
      datemod:
        type: "string"
      authors:
        type: "string"
      license:
        type: "string"
      download_url:
        type: "string"
      project_url:
        type: "string"
      image_download:
        type: "string"
      original_url:
        type: "string"
      description:
        type: "string"
      main_description:
        type: "string"
      tags:
        type: "array"
      categories:
        type: "array"
    example:
      short_title: "sawat"
      title: "SAW - Special Access to Windows"
      authors: "mlundalv, stuartaw, walsh_jc"
      license: "GNU General Public License version 3.0 (GPLv3)"
      datemod: "2016-10-22 00:00"
      download_url: "http://www.sourceforge.net/projects/sawat/files/latest/download"
      project_url: "http://www.oatsoft.org/Software/SpecialAccessToWindows"
      description: |-
        SAW - Special Access to Windows download. SAW - Special Access to Windows
        2016-10-22 19:28:58 free download. SAW - Special Access to Windows
        SAW - Special Access to Windows - a programmable on-screen keyboard.
      main_description: |-
        SAW - Special Access to Windows - is a programmable on-screen keyboard.
        It is a powerful tool for providing Access to the Windows operating system
        for people who need alternative Switch or Pointing device input options.
        \nThe new SAW 6 version - supported by the AEGIS project
        ([http://www.aegis-project.eu/](http://www.aegis-project.eu/)) - is now
        available. It is fully Windows 7-10 compatible, supports Unicode,
        includes its own \"Blade\" word prediction and abbreviation expansion engine,
        can interact with the CCF-SymbolServer for graphic symbol support
        ([http://conceptcoding.org/](http://conceptcoding.org/)), and adds several
        other feautures to make creating interfaces easy for those who use alternative
        inputs.
      original_url: "https://github.com/alandmoore/wcgbrowser"
      categories:
        - "Software"
      tags:
        - alternative-access